.shiva{
  font-family: "Libre Baskerville", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
div{
width:50%;
margin-left: 25%;
}
h1{
    color:white;
    text-align: center;
    text-transform: uppercase;
}

p{
    color: white;
    text-align: center;
    
}

body{
    background-color: black;
}

img{
    width: 100%;
    border: 5px solid white;
}